# Node.js dependencies
/node_modules
/dist
/build
.env
server/.env
.env.*.local
.yarn-integrity
npm-debug.log
yarn-error.log
.pnpm-store

# Nuxt.js specifics
.nuxt/
.output/

# Vite specifics
.vite/

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Log and temporary files
*.log
*.tmp
*.bak


src/App.vue.js